:root {
  --primary: #0066cc;
  --secondary: #00cc99;
  --accent: #167429;
  --bg: #f5f8fc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #333;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/* header 영역*/
header {
  background-color: #fff;
  padding: 1rem 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--primary);
  text-decoration: none;
}
.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 1rem auto;
  text-align: center;
  margin-top: 3rem;
}
.nav li {
  text-align: center;
  margin-top: 0.8rem;
  color: #666;
}
nav .btn {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}
.btn-login {
  background-color: var(--primary);
  color: #fff;
}
.btn-login:hover {
  background-color: #005bbb;
}
/* Hero 영역역 */
.btn-start {
  background-color: var(--accent);
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 0.6rem;
  padding: 0.1rem 2.5rem;
}
.btn-start:hover {
  background-color: #e6a500;
}
.hero {
  background-color: #e1ecf9;
  padding: 4rem 0;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-text p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.access-modes {
  display: flex;
  gap: 5rem;
  padding-right: 5rem;
  max-width: max-content;
}
.hero-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  width: 20rem;
  height: 14rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hero-card h3 {
  font-size: 1.7rem;
  /* font-weight: bold; */
}
.hero-card p {
  margin-top: 1rem;
  color: #0066cc;
  font-style: italic;
}
.card i {
  display: block;
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
/* feature 영역 */
.features {
  padding: 5rem 0;
}
.features-container {
  display: flex;
  flex-direction: row;
}
.feature-card {
  display: block;
  flex-direction: column;
  border: 2px solid #c1c4c7;
  border-radius: 2rem;
  /* height: 10rem; */
  text-align: center;
  padding: 1.9rem;
  padding-bottom: 3rem;
  background-color: #fff;
  margin: 0.5rem;
}
.feature-card i {
  font-size: 2rem;
  color: var(--secondary);
  margin-bottom: 0.5rem;
}
a {
  text-decoration: none;
  color: #333;
}
.feature-card img {
  width: fit-content;
  display: block;
  justify-content: center;
  align-items: center;
  padding-left: 0.6rem;
  margin: 1rem auto;
}
.feature-card p {
  margin-top: 0.2rem;
}
/* footer 영역 */
footer {
  background-color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.footer-container p {
  margin-bottom: 1rem;
}

.footer-container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer a {
  color: #666;
  text-decoration: none;
}
